<h1>에딧 페이지입니다</h1>

<!--<form action="/posts/update/%= @post.id%>" method="POST">-->
<!--    <input type="string" name="title" value="%= @post.title%>" /><br><br>-->
<!--    <textarea type="text" name="content" value="%= @post.content%>"></textarea>-->
<!--    <button type="submit">제출</button>-->
<!--</form>-->

<%= render 'form' %>