<h1>뉴 페이지입니다</h1>

<!--<form action="/posts/create" method="POST">-->
<!--    <input type="string" name="title" /><br><br>-->
<!--    <textarea type="text" name="content"></textarea>-->
<!--    <button type="submit">제출</button>-->
<!--</form>-->

<%= render 'form' %>