// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th{
    text-align: center;
}

.table{
    width: 70%;
}

.i_style{
    width: 70%;
}

.i_style2{
    width: 20%;
}

.left_align{
    text-align: left;
}

.right_align{
    text-align: right;
}

.center_align{
    text-align: center;
}

h1{
    text-align: center;
}

.cc_style{
    width: 35%;
}

// h2{
//     text-align: center;
//     font-size: 80%;
// }